@font-face {
    font-family: 'Montserrat';
    src: url('../src/assets/fonts/Montserrat-Regular.ttf');
}

@import "tailwindcss";

@theme{
    --font-montserrat: Montserrat, "sans-serif";
    --color-primary: #273E8E;
    --color-primary-light: #4F64B6;
    --color-primary-dark: #1E3170;
    --color-secondary: #F5F7FF;
    --color-tertiary: #E8A91D;
    --color-tertiary-dark: #D99119;
    --color-quaternary: #EBEBEB;
    --color-quinary: #F8F8F8;
    --text-xxs: 10px;
    --color-gradient-left: #273E8E;
    --color-gradient-right: #FFA500;
}
